@charset "UTF-8";

body {
  background-color: #121212;
}

.text-bg-mask {
  height: 100svh;
  font-size: 15vw;
  color: transparent;
  text-align: center;
  align-content: center;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url('..//img/fireworks.jpg');
}